Repository M-24rjgc/CogniCal: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --max-warnings=0, pnpm exec prettier --check, cargo fmt --manifest-path src-tauri/Cargo.toml --

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["pnpm exec eslint --max-warnings=0", "pnpm exec prettier --check"],
  "src-tauri/src/**/*.rs": ["cargo fmt --manifest-path src-tauri/Cargo.toml --"],
  "**/*.{js,jsx,json,css,md}": ["pnpm exec prettier --check"]
}

docs: 添加 Git 使用指南和最佳实践
  GIT_GUIDE.md
Due: pnpm exec prettier --check

fix(onboarding): 修复新手引导功能的多个问题
  .spec-workflow/session.json
  ONBOARDING_FIXES_SUMMARY.md
  ONBOARDING_ISSUE_FIXES.md
  src/components/help/HelpCenterDialog.tsx
  src/components/onboarding/OnboardingOrchestrator.tsx
  src/stores/onboardingStore.ts
  src/utils/onboarding.ts
Due: pnpm exec eslint --max-warnings=0, pnpm exec prettier --check

修复新手引导的bug
  .spec-workflow/session.json
  src/components/onboarding/OnboardingOrchestrator.tsx
Due: pnpm exec eslint --max-warnings=0, pnpm exec prettier --check

修复AI解析不了部分内容的bug
  .spec-workflow/session.json
  .vscode/settings.json
  BUG_FIX_ANALYSIS.md
  DELIVERY_SUMMARY.md
  FINAL_REPAIR_REPORT.md
  FIX_SUMMARY.md
  QUICK_FIX_REFERENCE.md
  REPAIR_PROCESS_DIAGRAM.md
  TEST_VERIFICATION_REPORT.md
  VERIFICATION_CERTIFICATE.md
  src-tauri/src/services/prompt_templates.rs
  src/components/layout/Sidebar.tsx
  src/routes/index.tsx
  src/utils/validators.ts
Due: pnpm exec eslint --max-warnings=0, pnpm exec prettier --check, cargo fmt --manifest-path src-tauri/Cargo.toml --

小幅更新，优化日程显示，同时显示开始和截止时间
  .spec-workflow/session.json
  src-tauri/src/commands/task.rs
  src-tauri/src/services/planning_service.rs
  src/components/dashboard/TodayTasksOverview.tsx
  src/components/dashboard/UpcomingTasksAlert.tsx
  src/services/tauriApi.ts
  src/types/task.ts
  src/utils/taskTime.ts
  src/utils/validators.ts
Due: pnpm exec eslint --max-warnings=0, pnpm exec prettier --check, cargo fmt --manifest-path src-tauri/Cargo.toml --

全面修复bug,添加基础AI对话功能
  .kiro/specs/ai-agent-with-memory/design.md
  .kiro/specs/ai-agent-with-memory/requirements.md
  .kiro/specs/ai-agent-with-memory/tasks.md
  docs/CALENDAR_FEATURE.md
  docs/CHAT_FEATURE.md
  src-tauri/src/commands/ai_commands.rs
  src-tauri/src/db/repositories/chat_repository.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/ai_service.rs
  src/components/calendar/CalendarView.tsx
  src/components/calendar/DayDetailPanel.tsx
  src/pages/Calendar.tsx
  src/pages/Chat.tsx
  src/routes/index.tsx
  src/services/tauriApi.ts
  src/stores/chatStore.ts
Due: pnpm exec eslint --max-warnings=0, pnpm exec prettier --check, cargo fmt --manifest-path src-tauri/Cargo.toml --

chore: 修复 .gitignore，移除不该跟踪的文件
  .gitignore
  src-tauri/data/memory/2025/10/47dc37f8-134e-4900-9d16-3e4fbed117b1.md
  src-tauri/data/memory/2025/10/e9eb9536-9a20-4617-973f-b66f8d6143fc.md
  src-tauri/exports/conversation-conv-1761139276623-y8tz736-1761139586879.zip/2025/10/2a19ef24-082f-494a-80a0-e6e167f29586.md
  src-tauri/exports/conversation-conv-1761139276623-y8tz736-1761139586879.zip/2025/10/4095fd26-9fc4-4766-b8e2-a3abed372882.md
  src-tauri/exports/conversation-conv-1761139276623-y8tz736-1761139586879.zip/2025/10/8ba28f7a-1e83-4bbe-b66f-5cb33d2a2e4d.md
  src-tauri/exports/conversation-conv-1761139276623-y8tz736-1761139586879.zip/2025/10/e9950993-f102-45eb-8d2b-756a643ed2d5.md
  src-tauri/exports/conversation-conv-1761139276623-y8tz736-1761139586879.zip/2025/10/efbaa943-af98-4cd3-8897-4cbb0a31f712.md
  src-tauri/exports/conversation-conv-1761139276623-y8tz736-1761139586879.zip/2025/10/f5cb9021-db0e-4885-b53f-e8c009a2f28c.md
  src-tauri/exports/conversation-conv-1761139276623-y8tz736-1761139586879.zip/export_info.json
  src-tauri/exports/conversation-conv-1761139276623-y8tz736-1761139586879.zip/metadata.json
  src-tauri/tests/image1.png
  src-tauri/tests/image2.png
  src-tauri/tests/image3.png
  target/rust-analyzer/flycheck0/stderr
  target/rust-analyzer/flycheck0/stdout
Due: pnpm exec prettier --check

docs: 添加 MIT 许可证
  LICENSE
Due: none

docs: 更新 README 为中英双语版本
  README.md
Due: pnpm exec prettier --check
